/* Update 8-ang-2026  */
/* ------------------------------ */
.testing{}
h1{
  font-size:2rem;
  color:#000;
};
h2{
  font-size:1.5rem;
  color:#fff;
};
h3{
  font-size:1.2rem;
  color:#fdfdfd;
};
h4{
  color:#fcfcfc;
};
h5{
  color:#fefefe;
};
/* Update 15-ang-2026  */
/* ------------------------------ */
h6{
  color:;
}

h6{
  color:#ftftft;
};


